.view-button {
    margin-bottom: 12px;
    padding: 20px 20px;
    border: 1px solid #dddddd;
    border-radius: 5px;
    height: 80px !important;
    margin-top: 5px;
}

.view-map {
    border: 1px solid #dddddd;
    border-radius: 5px;
    overflow: auto;
    /*width: 1200px;*/
}

.view-device {
    border: 1px solid #dddddd;
    border-radius: 5px;
    margin-top: 20px;
}

.view-device .table-bordered {
    border: 0px solid #ddd;;
}

.view-device-td-image {
    background: url(images/shuttleCar.png);
    background-size:cover;
    /*width:100%;*/
    /*height:25%;*/
    /*width:279.2px;*/
    /*height:25%;*/
}

.view-device-td-c {
    position: relative;
    text-align: center; /*设置文字居中*/
    /*width: 98%; !*设置大小*!*/
    min-width: 350px;
    max-width: 350px;
    min-height: 400px;
    max-height: 400px;
    border: 3px solid #ffffff; /*设置外边框*/
    border-radius: 5px; /* 设置边框为圆角 */
    cursor: pointer; /* 设置鼠标移上去时鼠标的形状 */
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, .3); /*设置阴影*/
    overflow: hidden; /*元素溢出时隐藏*/
    background-color: #31b0d5;
}

.view-device-td-h {
    position: relative;
    text-align: center; /*设置文字居中*/
    /*width: 98%; !*设置大小*!*/
    min-width: 300px;
    max-width: 680px;
    min-height: 800px;
    max-height: 800px;
    border: 3px solid #ffffff; /*设置外边框*/
    border-radius: 5px; /* 设置边框为圆角 */
    cursor: pointer; /* 设置鼠标移上去时鼠标的形状 */
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, .3); /*设置阴影*/
    overflow: hidden; /*元素溢出时隐藏*/
    background-color: #31b0d5;
}
.view-div {
    display: inline-block;
    text-align: left;
    width: 100%;
    padding:2px 20px;

}
.view-span-left {
    display: inline-block;
    text-align: left;
    width: 40%;
    padding:5px 10px;
    background-color:#f0f4f7;
    border-radius:3px ;
    text-align-last:justify
}
.view-span-right {
    display: inline-block;
    text-align: left;
    width: 40%;
    padding:5px 10px;
    padding-left: 30px;
}

.view-span-left-copy{
    display: inline-block;
    text-align: left;
    width: 20%;
    padding:5px 10px;
    background-color:#f0f4f7;
    border-radius:3px ;
    text-align-last:justify
}

.view-span-right-copy {
    display: inline-block;
    text-align: left;
    width: 60%;
    /*height: 30px;*/
    padding:5px 10px;
    margin:10px;
    padding-left: 30px;
    background-color: #80c5d5;
}

.view-span-left-path{
    /*display: inline-block;*/
    text-align: left;
    width: 20%;
    padding:5px 10px;
    background-color:#f0f4f7;
    border-radius:3px ;
    text-align-last:justify
}

.ui-jqgrid .ui-pg-button span {
    display: block;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #333333;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}

.ui-jqgrid .ui-pager-control .ui-pager-table td {
    border-top: 0px none !important;
    min-height: 20px !important;
    display: inline-block;
    margin-left: 15px;
}

.view-device-td-image-c {
    background: url(images/c.jpg);
    background-size:cover;
    /*width:100%;*/
    height:100px;
    /*width:279.2px;*/
    /*height:25%;*/
}
.view-device-td-image-h {
    background: url(images/h.jpg);
    background-size:cover;
    /*width:100%;*/
    /*height:25%;*/
    /*width:279.2px;*/
    /*height:25%;*/
}

#jqGrid tr td{
    width: 25%;
    min-width:306.5px;
}

#jqGridPager_right div {
    display: block;
    line-height: 32px;
    border: 1px solid #dddddd;
    text-align: center;
    margin: 0;
    padding: 0 10px;
}

.ui-jqgrid .ui-jqgrid-pager .ui-pager-table, .ui-jqgrid .ui-jqgrid-toppager .ui-pager-table {
    width: 100%;
    table-layout: fixed;
    text-align: right;
    height: 100%;
}

.ui-jqgrid .ui-jqgrid-pager .ui-pager-control {
    position: relative;
    border-left: 0;
    border-bottom: 0;
    border-top: 0;
}

.ui-jqgrid .ui-pg-table td {
    font-weight: normal;
    vertical-align: middle;
    padding: 0px 6px;
}

.ui-disabled span {
    cursor: no-drop;
}

#jqGridPager_right {
    margin-right: 100px;
}

.textarea-class{
    margin-top: 2px;
    border-radius: 5px;
}















