<!DOCTYPE html>
<html>
<head>
    <title>管理员列表</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/font-awesome.min.css">
    <link rel="stylesheet" href="../../plugins/jqgrid/ui.jqgrid-bootstrap.css">
    <link rel="stylesheet" href="../../plugins/ztree/css/metroStyle/metroStyle.css">
    <link rel="stylesheet" href="../../css/main.css">
    <script src="../../libs/jquery.min.js"></script>
    <script src="../../plugins/layer/layer.js"></script>
    <script src="../../libs/bootstrap.min.js"></script>
    <script src="../../libs/vue.min.js"></script>
    <script type="text/javascript" src="../../libs/axios.min.js"></script>
    <script src="../../plugins/jqgrid/grid.locale-cn.js"></script>
    <script src="../../plugins/jqgrid/jquery.jqGrid.min.js"></script>
    <script src="../../plugins/ztree/jquery.ztree.all.min.js"></script>
    <script src="../../js/common.js"></script>
</head>
<body>
<div id="honghu_cloud" v-cloak class="user-honghu_cloud">
    <div v-show="showList">
        <div class="grid-btn" style="width: 1600px;border: 1px">
            <div v-if="hasPermission('param:policy:query')" class="form-group col-sm-2" >
                <input type="text" class="form-control" v-model="q.keyId" @keyup.enter="query" placeholder="策略编号" @blur="regexSelect()">
                <span style="color: #ff0a0d; margin-left: 10px" v-if="!selectFlag" >*策略编号只能是整数</span>
            </div>
            <div v-if="hasPermission('param:policy:query')" class="form-group col-sm-2">
                <input type="text" class="form-control" v-model="q.policyName" @keyup.enter="query" placeholder="策略名称">
            </div>
            <a v-if="hasPermission('param:policy:query')" class="btn btn-info" @click="query">查询</a>
            <a v-if="hasPermission('param:policy:delete')" class="btn btn-danger" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
            <a v-if="hasPermission('param:policy:add')" class="btn btn-success" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
        </div>
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>

</div>
<script src="../../js/modules/param/policy.js"></script>
</body>
</html>